{% extends "zola-clean-blog/templates/index.html" %}
{% block copyright %}
Copyright; Srcolinas
<img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by-nc-sa.eu.svg" alt="Creative Commons License">
{% endblock copyright %}

{% block header %}
  <header class="masthead" style="background-image: url('{{ get_url(path="/img/home-bg-1.png")}}')">
    <div class="overlay">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{config.title}}</h1>
            <span class="subheading">{{config.description}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% endblock header %}